# Exploring discrete and categorical values

In [2]:
# import necessary libraries
import pandas as pd

In [3]:
# import dataset into dataframe
income_data = pd.read_csv("./data/Census Income Data/Income_data.csv")
print(income_data.shape)
print(income_data.columns)

(32561, 15)
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Income_band'],
      dtype='object')

In [4]:
# Get the frequencies of income data based on education paramter
income_data["education"].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [6]:
# To print frequency values in percentages
freq = income_data["education"].value_counts()
percent = income_data["education"].value_counts(normalize=True)

freq_table = pd.concat([freq, percent], axis=1, keys=["counts", "percent"])
print(freq_table)

              counts   percent
education
HS-grad        10501  0.322502
Some-college    7291  0.223918
Bachelors       5355  0.164461
Masters         1723  0.052916
Assoc-voc       1382  0.042443
11th            1175  0.036086
Assoc-acdm      1067  0.032769
10th             933  0.028654
7th-8th          646  0.019840
Prof-school      576  0.017690
9th              514  0.015786
12th             433  0.013298
Doctorate        413  0.012684
5th-6th          333  0.010227
1st-4th          168  0.005160
Preschool         51  0.001566

In [8]:
# Create a cross tab by comparint both the education and income tab
cross_tab = pd.crosstab(income_data["education"], income_data["Income_band"])
cross_tab_p = cross_tab.astype(float).div(cross_tab.sum(axis=1), axis=0)
final_table = pd.concat([cross_tab, cross_tab_p], axis=1)
print(final_table)

Income_band   <=50K  >50K     <=50K      >50K
education
10th            871    62  0.933548  0.066452
11th           1115    60  0.948936  0.051064
12th            400    33  0.923788  0.076212
1st-4th         162     6  0.964286  0.035714
5th-6th         317    16  0.951952  0.048048
7th-8th         606    40  0.938080  0.061920
9th             487    27  0.947471  0.052529
Assoc-acdm      802   265  0.751640  0.248360
Assoc-voc      1021   361  0.738784  0.261216
Bachelors      3134  2221  0.585247  0.414753
Doctorate       107   306  0.259080  0.740920
HS-grad        8826  1675  0.840491  0.159509
Masters         764   959  0.443413  0.556587
Preschool        51     0  1.000000  0.000000
Prof-school     153   423  0.265625  0.734375
Some-college   5904  1387  0.809765  0.190235